:root {
  --speed: 1.5s;
  --delay: 600ms;
  --bg-color: white;
  --color: black;
  --box-shadow:
    rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  --bg-image:
    radial-gradient(circle farthest-corner at 1.3% 2.8%, rgba(239, 249, 249, 1) 0%, rgba(182, 199, 226, 1) 100.2%);
  --fa-hover-speed: 600ms;
  --font-size: 16px;
  --font-size-fa: 32px;
  --border-radius: 1rem;
  --margin-bottom: 50px;
  --box-padding: 50px;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap-reverse;
  background-color: var(--bg-color);
  font-family: Helvetica;
  color: var(--color);
  /*background-image: var(--bg-image);*/
  overflow-y: scroll;
}

.box,
.box-img {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  padding: var(--box-padding);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  background: white;
  margin: 1rem;
  animation: transitionIn var(--speed);
  animation-fill-mode: both;
}

.box-img {
  padding: 0;
  animation-delay: var(--delay);
}

.item {
  flex-shrink: 0;
  display: flex;
  margin-bottom: var(--margin-bottom);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 450px;
}


div.item:first-child {
  padding-left: 1.2rem;
  padding-right: 1.2rem;
}

div.item:last-child {
  margin-bottom: 0px;
  width: 100%;
}

h1, p {
  width: 100%;
}

img {
  border-radius: var(--border-radius);
  max-width: 482px;
  width: 100%
}

h1 {
  margin: 0;
  margin-bottom: var(--margin-bottom);
}

p {
  margin: 0px 0px 20px;
}

p:last-child {
  margin: 0px;
}

.fa {
  padding: 0px 13px;
  font-size: var(--font-size-fa);
  text-decoration: none;
  color: var(--color);
  transition: var(--fa-hover-speed);
}

.fa:hover {
  opacity: 0.5;
}

@media only screen and (max-width: 560px) {
  :root {
    --margin-bottom: 30px;
    --box-padding: 20px;
  }
  
  body {
    font-size: calc(0.8 * var(--font-size));
  }
  
  .fa {
    font-size: calc(0.75 * var(--font-size-fa));
  }
  
  .box {
    padding-left: 0;
    padding-right: 0;
  }
  
}

@keyframes transitionIn {

  0%,
  33% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
