:root {
  --speed: 1.3s;
  --bg-color: white;
  --color: black;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap-reverse;
  margin: 0;
  padding: 0;
  background-color: var(--bg-color);
  font-family: Helvetica;
  color: var(--color);
  animation: transitionIn var(--speed);
  animation-fill-mode: forwards;
  /*background-image: radial-gradient(circle farthest-corner at 1.3% 2.8%, rgba(239, 249, 249, 1) 0%, rgba(182, 199, 226, 1) 100.2%);*/
  overflow-y: scroll;
}

.box, .box-img {
  display: flex;
  align-items: center;
  align-content: space-around;
  justify-content: center;
  flex-direction: column;
  padding: 50px;
  margin: 30px;
  border-radius: 16px;
  box-shadow:
    rgba(25, 28, 31, 0.16) 0px 14px 32px,
    rgba(25, 28, 31, 0.08) 0px 8px 16px,
    rgba(25, 28, 31, 0.08) 0px -1px 0px;
  background: white;
}

.box-img {
  padding: 0;
  margin: 0;
}

.item {
  flex-shrink: 0;
  display: flex;
  margin-bottom: 50px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 450px;
}

div.item:last-child {
  margin-bottom: 0px;
}

img {
  border-radius: 16px;
  max-width: 482px;
}

h1 {
  margin: 0px;
  margin-bottom: 50px;
}

p {
  margin: 0px 0px 20px;
}

p:last-child {
  margin: 0px;
}

.fa {
  padding: 0px 13px;
  font-size: 32px;
  text-decoration: none;
  color: var(--color);
  transition: 0.6s;
}

.fa:hover {
  opacity: 0.5;
}

@keyframes transitionIn {

  0%,
  33% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
