
html, body {
  height: 100%;
}

body {
  background-color: white;
  font-family: Helvetica;
  color: black;
  animation: transitionIn 1s;
  animation-fill-mode: forwards;
}

img {
  border-radius: 8px;
  max-width: 150px;
  margin-bottom: 20px;
}

h1 {
  margin: 0px;
}

.flex-container {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.flex-box {
  display: flex;
  align-items: center;
  align-content: space-around;
  justify-content: center;
  flex-direction: column;
  padding: 100px 60px;
  margin: 30px;
  border-radius: 8px;
  box-shadow: 
    rgba(25, 28, 31, 0.08) 0px 14px 32px,
    rgba(25, 28, 31, 0.04) 0px 8px 16px,
    rgba(25, 28, 31, 0.04) 0px -1px 0px;
}

div.flex-item:last-child {
  margin-bottom: 0px;
}

.flex-item {
  flex-shrink: 0;
  display: flex;
  margin-bottom: 60px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 450px;
}

p {
  margin: 0px 0px 20px;
  color: black;
}

p:last-child {
  margin: 0px;
}

.fa {
  padding: 0px 13px;
  font-size: 32px;
  text-decoration: none;
  color: black;
  transition: 0.3s;
}

.fa:hover {
  opacity: 0.5;
}

@keyframes transitionIn {
  0%, 33% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
